.card-top{
  position:relative;
  display: flex;
  flex-direction:column;
  word-wrap: break-word;
  background: #fff;
  background-clip: border-box;
  // border: 1px solid rgba(0,0,0,0.2);
  border-radius: 0.25rem;
}
.item img{
  width: 64px;
  height: 64px;
}
.item{
  margin:5px 15px;
  text-align: center;
}
.item a:hover,.item h5:hover{
  color:#d34580;
}
.card{
  padding: 20px;margin:10px 0px;
  img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
    mix-blend-mode:multiply
  }
  img:hover{
    transition: 0.3s ease-in-out;
    transform:scale(1.1)
  }
  h5{font-weight:bold;font-size:16px;}
  h5,p{
    white-space: nowrap;
    overflow: hidden;
    // text-overflow:ellipsis;
    max-width: 100ch;
  }
}
