strong{font-size:30px;color:#fff}
form{
  position:relative;
  .fa-search{
    position: absolute;
    right:10px;
    top:12px;
    color:#252F69;
    font-size:20px;
  }
}
.fa-cart-arrow-down{
  font-size:30px;cursor:pointer;
}


